<h1>Redaktə</h1>
<div class="basic-info edit-res-page">
    <div class="search-butons" style="margin: 0; float: none">
        <button data-i18n="ok" type="submit" class="btn btn-primary" id="confirmAddResearch" >OK</button>
        <button data-i18n="close" type="submit" class="btn btn-primary btn-block close-add-resource">Bağla</button>
    </div>

</div>
<div class="row">
        <form class="research-form">
        <div class="form-group">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label  for ="group-name" >Adı</label>
                        <div class="prepend-icon">
                            <input  type="text" class="form-control" id="research-name" resource-required="" placeholder="Adı" name = "sciName">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label  for="exampleInputEmail1" >Müəllif</label>
                        <select multiple="" class="research_author" name="sciAuthor" resource-required id="research-author">
                        </select>
                    </div>
                </div>
                
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label>Ölkələr</label>
                    <div class="prepend-icon">
                        <select class="form-control" id="research-publish-place" placeholder="Çap yeri" resource-edition-required=""  name="sciPublishPlace"></select>
                        <i class="fa fa-list-alt"></i>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <div class="form-group">
                    <label  for="group-name" placeholder="Tarix">Çap olunma tarixi</label>
                    <div class="prepend-icon">
                        <input type="text" class="form-control datepicker" resource-edition-required="" data-date-format="dd/mm/yyyy" id="research-publish-date"  placeholder="Çap olunma tarixi" data-required="" name="sciPublishDate"  maxlength="10">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                </div>
            </div>
                
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label>Dil</label>
                        <div class="prepend-icon">
                            <select class="form-control scilang" resource-required="" name="sciLang" id="research-language"></select>
                            <i class="fa fa-list-alt"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label>Fənn</label>
                        <div class="prepend-icon">
                            <select class="form-control sci_subject" resource-required="" name="sciSubject" id="research-subject" ></select>
                            <i class="fa fa-list-alt"></i>
                        </div>
                    </div>
                </div>
                
                 <div class="form-group col-md-12">
                    <div class="form-group">
                        <label>Qeyd</label>
                        <textarea  maxlength="999"  class="form-control" id="research_note" name="sciNotes"></textarea>    
                    </div>
                </div>
 
                <div class="col-md-12">
                    <div class="col-md-12 for-align float: right res-picture"></div>
                </div>
            </div>
        </div>
        
            <label id="addfaylresearch">
                <p id="pfayl">Fayl seçin:</p>
                <!--<div>-->
                    <span class="file-name"></span>
                <!--</div>-->
        <input type="file" class="new-add-doc-file hidden">
        <button id="clear" class="hidden">Clear</button>
    </label>
    </form>
</div>

<!------------------------------------------------------------------------------------------ -->

<script>

    $(function () {
        Hsis.i18n();
        $('.datepicker').datepicker();

//        Hsis.Proxy.loadDictionariesByTypeId(Hsis.Codes.STATUS, 0, function (status) {
//            var html = Hsis.Service.parseDictionaryForSelect(status);
//            $('#research-language').html(html);
//        });
        Hsis.Proxy.loadDictionariesByTypeId(Hsis.Codes.RESLANG, 0, function (resLanguage) {
            var html = Hsis.Service.parseDictionaryForSelect(resLanguage);
            $('#research-language').html(html);
        });
        Hsis.Proxy.loadDictionariesByTypeId(Hsis.Codes.SCISUBJECT, 0, function (resSubject) {
            var html = Hsis.Service.parseDictionaryForSelect(resSubject);
            $('#research-subject').html(html);

        });
        
//        Hsis.Proxy.loadDictionariesByTypeCode(Hsis.Codes.RESFORMAT, function (resFormat) {
//            var html = Hsis.Service.parseDictionaryForSelect(resFormat);
//
//            $('.research-format').html(html);
//
//        });

        Hsis.Proxy.loadDictionariesByTypeId(Hsis.Codes.COUNTRY, 0, function (resCountry) {
            var html = Hsis.Service.parseDictionaryForSelect(resCountry);

            $('#research-publish-place').html(html);

        });

            var researchId = $('body').attr('data-id');
            Hsis.Proxy.getResearchDetails(researchId, function (data) {
                 $('body').find('#research-name').val(data.researchName);
                 $('body').find('#research-language').val(data.langId.id);
                 $('body').find('#research-subject').val(data.subject.id);
                 console.log()
                 $('body').find('#research_note').val(data.notes);
                 $('body').find('#research-publish-place').find('option[value="'+data.publishPlace.id+'"]').prop('selected',true);
                 $('body').find('#research-publish-date').val(data.publishDate);
                 if(data.fileWrapper) {
                    
                     var img = '<img src="'+ Hsis.urls.ELIBRARY + '/research/' + research + '/image/?token=' + Hsis.token + '">';
                     $('body').find('div.res-picture').html(img);
                 }
            
            Hsis.Proxy.getAuthorsListForSelect(function (resAuthor) {
                var html = '<option value="0">' + Hsis.dictionary[Hsis.lang]["select"] + '</option>';
                if (resAuthor) {
                    $.each(resAuthor, function (i, v) {
                        html += '<option parent="' + v.parentId + '" code="' + v.code + '" value="' + v.id + '">' + v.authorName[Hsis.lang] + '</option>';
                    });
                }

                $('.research_author').html(html);
                $('.research_author').select2();
            
             var ar = [];
                $.each(data.authorList, function(i,v) {
                    ar.push(v.id);
                });
                
                $('body').find('#research-author').select2().val(ar).trigger('change');

            })
        });           

//        Hsis.Proxy.loadDictionariesByTypeCode(Hsis.Codes.AUTHORS, function (resAuthor) {
//            var html = Hsis.Service.parseDictionaryForSelect(resAuthor);
//
//            $('.res_author').html(html);
//            $('.res_author').select2();
//
//        });

        $('body').on('click', '.add-edition', function () {
            $('.resource-edition-modal').modal();
            $('.resource-edition-modal').find('input').val('');
            $('.resource-edition-modal select').find('option:selected').prop('selected', false);

        });
        $('body').on('click', '.edition-confirm', function () {


            $('body').find('.edition-block').fadeOut();
        });

        $('body').on('click', '.edition-cancel', function () {


            $('body').find('.edition-block').fadeOut();
        });


        $('body').on('click', '.close-add-resource', function (e) {
            e.preventDefault();
            $('.add-new').css('right', '-100%');
            return false
        });

        $('[data-dismiss="modal"]').on('click', function (event) {
            $('.modal').modal('hide');
        });

        $('#publish-date').datepicker();

        $('#main-div').on('change', '.new-add-doc-file', function (e) {
            try {
                var fileName = this.files[0].name;
                $(this).siblings('span.file-name').text(fileName);
                $('body #clear').removeClass('hidden');
            } catch (err) {
                console.error(err);
            }
        });
        
        $('body').on('click', '#clear', function () {
            $('.file-name').html('')
            $(this).addClass('hidden');
        });

        $("[resource-required-number]").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                 // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
                 // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                     // let it happen, don't do anything
                     return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });        
</script>